/* header */
header {
  width: 100%;
  /* position: fixed;
  z-index: 10; */
}

.header-wrapper {
  width: 1300px;
  margin: 0 auto;
}

.story-group {
  display: flex;
  margin-top: 7px;
}
.magnifying-glass {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  
}
.story-group h3 {
  margin: auto;
}

.story-group img {
  width: 60px;
  height: 60px;
  margin-left: auto;
  object-fit: cover;
  display: block;
}
.header-wrapper hr {
  margin: 7px 0;
}


.main {
  width: 100%;
}
.main-wrapper {
  display: flex;
}

/* NAV */
.nav-category a p {
  display: inline-block;
}
.category-list {
  /* border: 1px solid red; */
}

.category-list a {
  display: block;
}

nav {
  /* border: 1px solid red; */
  width: 400px;
}
.nav-inner {
  /* border: 1px solid blue; */
  width: 90%;
}
.nav-wrapper {}
.nav-title {}
.nav-title h4 {}
.visitant {
  display: flex;
  margin-bottom: 10px;
}
.visitant-detail {
  flex: 1px;
}

.visitant-detail:nth-child(2) {
  text-align: center;
}

.visitant-detail:nth-child(3) {
  text-align: right;
}

.visitant-detail h4 span {
  margin-left: 8px;
  font-size: 0.8em;
  color: rgb(107, 107, 107);
}

.nav-title a {
  display: block;
  margin-bottom: 10px;
}
.nav-wrapper hr {}
.nav-categorys {
}
.nav-category-group {
  margin: 10px 0;
}
.category-title {
}
.category-title a {}
.category-title a b {}
.category-title a span {
  font-size: 0.8em;
}
.category-list {
  margin-left: 25px;
}
.category-list a {
  display: block;
  margin: 5px 0;;
}
.category-list a i {}
.category-list a span {}

.nav-trigger {
  display: none;
}

/* MAIN */
.contents {
  /* border: 1px solid black; */
  width: 900px;
}

/* SLIDER */
.slider-form {
  border: 1px solid black;
  width: 100%;
  height: 400px;
}

/* POST */
.posts {
  display: flex;
  flex-wrap: wrap;

}

.post {
  width: 280px;
  margin: 15px 15px;
}

.post:nth-child(3n+1) {
  margin-left: 0;
}

.post:nth-child(3n+3) {
  margin-right: 0;
}
.post a img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}
.post a h4 {
  font-size: 1.3em;
}

/* footer */
.footer-wapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  height: 50px;
}

.footer-wapper i {
  margin-left: 10px;
}


@media screen and (max-width: 768px) {

  /* common */
  .inner {
    width: 100%;
  }

  /* header */
  .header-wrapper {
    position: fixed;
    width: 100%;
    background-color: white;
  }

  .header-wrapper hr {
    margin-bottom: 0px;
  }

  .story-group {
    margin-left: 10px;
    margin-right: 10px;
  }

  /* nav */
  .nav {
    position: fixed;
    background-color: rgb(253, 253, 253);
    /* width: 0px; */
    display: none;
  }

  .nav-inner {
    width: 350px;
  }

  .nav-wrapper {
    margin-left: 15px;
  }
  .nav-title {
    margin-top: 50px;
  }

  .nav-trigger {
    display: block;
    /* border: 1px solid red; */
    width: 30px;
    height: 16px;
    position: absolute;
    /* right: 7px; */
    left: 15px;
    top: 15px;
  }

  .nav-trigger span {
    position: absolute;
    height: 1px;
    background-color: #000;
    width: 100%;
    transition: 0.3s;
  }
  .nav-trigger span:nth-child(1) {
    top: 0;
  }
  .nav-trigger span:nth-child(2) {
    top: 50%;
  }
  .nav-trigger span:nth-child(3) {
    top: 100%;
  }

  .nav-trigger.active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  .nav-trigger.active span:nth-child(2) {
    opacity: 0;
  }
  .nav-trigger.active span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
  }
  
  /* main */
  .slider-form {
    margin-top: 74px;
  }

  .posts {
    flex-direction: column;
    justify-content: center;
  }

  .post {
    margin: 0px;
    width: 100%;
    height: 400px;
  }

  .post a img {
    height: 300px;
  }

}