/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
  font-family: 'Montserrat', sans-serif;
  }
  
html {
  scroll-behavior: smooth;
}
  
body {
  font-size: 15px;
  margin: 0;
  color: #222;
  line-height: 1.5em;
  font-weight: 300;
  height: 100%;
}
  
/* Reset CSS */
a {
  cursor: default;
  text-decoration: none;
  outline: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: 500;
  line-height: 1.3em;
}

input, button, textarea {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear { display: none; }

/* input type number 에서 화살표 제거 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

button {
  cursor: pointer;
}
  
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  margin: 0;
	padding: 0;
	border: 0;
}

hr {
  margin: 0;
  padding: 0;
  border: 0;
  height: 1px;
  background: rgb(202, 202, 202);
}
  
/* Common CSS */
.inner {
  width: 1300px;
  margin: auto;
}

.main-inner {
  width: 900px;
  margin: auto;
}

.common-button {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.15rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: block;
}

.common-button:hover {
  background-color: rgb(249,250,251);
}

.common-button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.common-button:focus-visible {
  box-shadow: none;
}

/* EditorTollbar css set*/
/* Set content for font-families */
.ql-font-arial,
.ql-font span[data-value="arial"]::before {
  font-family: Arial, sans-serif;
}
.ql-font-comic-sans,
.ql-font span[data-value="comic-sans"]::before {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.ql-font-courier-new,
.ql-font span[data-value="courier-new"]::before {
  font-family: "Courier New";
}
.ql-font-georgia,
.ql-font span[data-value="georgia"]::before {
  font-family: Georgia, serif;
}
.ql-font-helvetica,
.ql-font span[data-value="helvetica"]::before {
  font-family: Helvetica, sans-serif;
}
.ql-font-lucida,
.ql-font span[data-value="lucida"]::before {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Set content for sizes */
.ql-size-extra-small,
.ql-size span[data-value="extra-small"]::before {
  font-size: 13px !important;
}
.ql-size-small,
.ql-size span[data-value="small"]::before {
  font-size: 14px !important;
}
.ql-size-medium,
.ql-size span[data-value="medium"]::before {
  font-size: 18px !important;
}
.ql-size-large,
.ql-size span[data-value="large"]::before {
  font-size: 20px !important;
}

@media (min-width: 335px) and (max-width: 757px) {
 .inner {
    width: 100%;
 }
 
 .main-inner {
    width: 100%;
 }
}